$debug: 1;

body {
    margin: 0;
}

.debug-outline {
    outline-offset: -1px;
    outline: 1px solid;
    outline-color: rgba(255, 0, 0, $debug);
}

*{
    box-sizing: border-box;
    @extend .debug-outline;
}

.vp-filler {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: lime; /* Just to visualize the extent */
}